a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: green;
}

h1{
  text-align: center;
  margin-left: 550px;
  margin-right: 550px;
  padding: 30px;
  margin-bottom: 25px;
  border: 3px dashed lightgreen;
  font-family: 'Courier New', monospace;
}

h3{
  font-family: monospace;
  font-size: 20px;
  /* color: green; */
  text-align: center;
}

p{
  text-align: center;
}

.link:hover{
  /* font-size: 21px; */
  padding: 10px;
  border: 3px solid #C4A484;
}
