html, body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  text-decoration: none;
  background-color: #EEEEEE;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

.navitem.navlink.active{
  display: inline;
  border-bottom: 3px solid #3BA8F7;
  margin-left: 20px;
}

.site-title{ /*tweeter*/
  background-color: #319DF6;
  margin: 0;
  padding: 7px;
  padding-left: 21px;
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.navbar{
  background-color: white;
  display: flex;
  text-decoration: none;
  margin:0;
  padding:0;
  border:0;
}

.navlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 50%;
  text-decoration: none;
  text-align: left;
}

.navlist li{
  list-style: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  /* display: flex; */
  /* justify-content: flex-end; */
}

.navlist a:hover{
  color: #3BA8F7;
}

.navlist a:focus{
  color: #3BA8F7;
}

.navbar-search{
  text-align: right;
  /*float: right;*/
  position: absolute;
  right: 25px;
  top: 47px;
  /* justify-content: flex-end; */
  /*width: 22%;
  position: absolute;
  top: 6%;
  right: 0;
  margin: 0;
  padding: 0;*/
}

.navbar-search button{
  border: none;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 5px;
  position: static;
}

.navbar-search button:hover{
  color: #3BA8F7;
}

.navbar-search input{
  background-color: #EEEEEE;
  border: 1px solid #ccc;
  height: 22px;
  left: 10px;
}

.twit-content{
  text-align: right;
  /* display: flex; */
  flex: 1 1 80%;
  /* margin-bottom: 0px; */
}

.twit-container{
  background-color: #EEEEEE;
  margin:60px 120px 50px;
  padding:0;
  border:0;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 10px;
  /* position: absolute; */
}

.twit{
  background-color: white;
  /* margin: 100px; */
  display: flex;
  border: 1px solid #ccc;
  /* flex-direction: row; */
  width: 380px;
  height: 116px;
  /* position: static */
  /* margin-right: 100px; */
}

.twit-author{
  font-weight: 900;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  /* margin-bottom: 0px; */
}

.twit-author a:hover{
  color: #3BA8F7;
}

.twit-icon{
  font-size: 25px;
  margin: 20px;
  margin-right: 10px;
}

.twit-text{
  /* margin: 0; */
  text-align: left;
  margin-top: 20px;
  margin-left: 15px;
  flex: 1 1 80%;
}

#create-twit-button{
  border: none;
  border-radius: 50%;
  /* float: right; */
  color: white;
  background-color: red;
  font-size: 30px;
  padding: 15px;
  position: fixed;
  right: 100px;
  bottom: 80px;
  box-shadow: 3px 3px 5px gray;
}

#create-twit-button:hover{
  background-color: #3BA8F7;
  font-size: 35px;
}
